<h1>E-Commerce App</h1>

<% if @warehouses.empty? %>
  <p>Nenhum galpão encontrado</p>
<% end %>

<% @warehouses.each do |warehouse| %>
  <div>
    <p><%= link_to warehouse['name'], warehouse_path(warehouse['id']) %></p>
    <p><%= warehouse['code'] %></p>
    <p><%= warehouse['city'] %></p>
  </div>
<% end %>
