<h1>E-Commerce App</h1>

<% if @warehouses.empty? %>
  <p>Nenhum galpão encontrado</p>
<% end %>

<% @warehouses.each do |warehouse| %>
  <div>
    <p><%= warehouse['name'] %></p>
    <p><%= warehouse['code'] %></p>
    <p><%= warehouse['city'] %></p>
  </div>
<% end %>
